.cont-menu{
  background-color: #4FB25F;
}

.color-pauta{
  background-color: #2c3b8e;
}

.opcion1 {
    background-image: url("../img/menu/menu2/eurocine_1024.png");
    height: 65px;
}

.opcion2 {
    background-image: url("../img/menu/menu2/festival_1024.png");
    height: 48px;
}

.opcion3 {
    background-image: url("../img/menu/menu2/Nuestrosamigos2_1024.png");
    height: 30px;
}

.opcion4 {
    background-image: url("../img/menu/menu2/Eurofilmpedia_1024.png");
    height: 108px;
}

.opcion1:hover {
    background-image: url("../img/menu/menu2/Eurocine2_1024.png");
}

.opcion2:hover {
    background-image: url("../img/menu/menu2/fesitval2_1024.png");
}

.opcion3:hover {
    background-image: url("../img/menu/menu2/nuestrosamigos_1024.png");
}

.opcion4:hover{
    background-image: url("../img/menu/menu2/Eurofilmpedia2_1024.png");
}

.filtros{
  margin-left: -22px;
  font-family:  MyriadPro-Regular;
  background-color: transparent;
  box-shadow: none;
  font-size: 1px;
  height: 100%;

}

.active{
  border-bottom: 5px #2c3b8e solid !important;
}

.filtros a{
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0 8px;
  height: 58px;
  margin: 0 8px;
}

.filtros a:first-child{
    border-bottom: 12px #2168EA solid;
}

.filtros a:nth-child(2){
    border-bottom: 12px #2C3B8E solid;
}

.filtros a:nth-child(3){
    border-bottom: 12px #FFA500 solid;
}

.filtros a:nth-child(4){
    border-bottom: 12px #6D6F71 solid;
}

.filtros a:nth-child(5){
    border-bottom: 12px #4FB25F solid;
}

.filtros a:nth-child(6){
    border-bottom: 12px #2C3B8E solid;
}

.filtros span{
  color: #606060;
}

.linea{
    border: 1px #4FB25F solid;
    position: relative;
    z-index: -1;
    margin-left: -16px;
    margin-top: -13px;
    display: block;
    width: 227%;
}

.linea.last{
  width: 150%;
}

}
.filtros .linea:last-child{
  width: 150% !important;
}

.cont-texto{
  padding-left: 0px !important;
}

.titulo-fecha{
  margin: 0px;
}

.titulo-media-1{
  font-size: 33px;
  color: #606060;
  font-family: Elevation;
  margin: 0px;
}

.subtitulo-media{
  font-size: 26px;
  color: #606060;
  font-family: Elevation;
  margin: 0px;
  line-height: 10px;
}

.euro-titulo-2{
    margin-left: 15px;
    margin-top: 28px;
    color: #b1b1b1;
    font-family: Elevation;
}

.euro-titulo-2 p{
  margin: 0px;
}

.euro-titulo-2 .t1{
  font-size: 2.1vw;
}

.euro-titulo-2 .t2{
  font-size: 3.5vw;
  line-height: 35px;
}
.euro-titulo div img{
    margin-left: -10px;
    margin-top: 20px;
    width: 100%;
}


@media (max-width: 420px) {
  .filtros a{
     padding: 0 0.2rem;
  }

  .euro-titulo div img {
    width: 150px;
  }

  .euro-titulo-2{
     padding-left: 40px;
  }
  .euro-titulo-2 .t1{
    font-size: 15px;
  }

  .euro-titulo-2 .t2{
    font-size: 25px;
  }

  .euro-titulo div:first-child{
    padding-left: 30px;
  }
  .linea{
    margin-top: -5px;
    width: 180%;
  }

  .linea.last {
    width: 235%;
  }
}
