.cont-menu{
  background-color: #276CE6;
}

.color-pauta{
  background-color: #2c3b8e;
}

.btn-full{
  width: 338px;
}

.btn:hover{
  background-color: #2c3b8e;
}

.margin-0{
  margin: 0px !important;
}

.opcion1 {
    background-image: url("../img/menu/menu2/eurocine_1024.png");
    height: 65px;
}

.opcion2 {
    background-image: url("../img/menu/menu2/festival_1024.png");
    height: 48px;
}

.opcion3 {
    background-image: url("../img/menu/menu2/Nuestrosamigos2_1024.png");
    height: 30px;
}

.opcion4 {
    background-image: url("../img/menu/menu2/Eurofilmpedia_1024.png");
    height: 108px;
}

.opcion1:hover {
    background-image: url("../img/menu/menu2/Eurocine2_1024.png");
}

.opcion2:hover {
    background-image: url("../img/menu/menu2/fesitval2_1024.png");
}

.opcion3:hover {
    background-image: url("../img/menu/menu2/nuestrosamigos_1024.png");
}

.opcion4:hover{
    background-image: url("../img/menu/menu2/Eurofilmpedia2_1024.png");
}


.fila1, .fila2{
  display: -webkit-fkex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  /*
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px;*/
}

.fila1 .caja-peli, .fila2 .caja-peli{
    padding: 0px;
    margin-left: 5px !important;
    margin-right: 5px;
}

.fila1 .caja-peli{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fila2 .caja-peli{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fila1 .caja-peli:first-child, .fila2 .caja-peli:first-child{
  margin-left: 10px !important;
}

.fila1 .caja-peli:last-child, .fila2 .caja-peli:last-child{
  margin-right: 0px;
}

.peliculas  .caja-peli a img{
    width: 130px;
    height: 180px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.peliculas  .caja-peli a img:hover{
  width: 135px;
  height: 185px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.peliculas .caja-peli .titulo-pelicula-slider{
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.cont-peli-padre{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.collection{
  font-family: MyriadPro-Regular;
  margin-left: -10px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid #606060;
  width: 300px;
  font-size: 22px;
}

.collection .collection-item{
  padding: 16px 20px;
}

.titulo-pelicula, .categoria, .info{
  color: #606060;
}

.titulo-pelicula{
  text-transform: uppercase;

}
.categoria{
  text-align: right;
  font-size: 20px;
}

.programa td{
  padding: 0px !important;
}

.horario td{
  padding: 0px !important;
  font-size: 17px;
}

.collection .collection-item {
  color: #606060 !important;
  border-bottom: none;
}

.collection .collection-item.active {
  background-color: #276CE6;
  color: #fff !important;
}

.trailer{
  background-color: #414143;
}

.trailer iframe{
  margin-bottom: -7px;
}

.pauta{
  background-color: #4FB25F;
  height: 723px;
}

.titulo-festival{
  font-size: 40px;
  font-family: MyriadPro-Regular;
  margin-top: -7px;
  text-transform: uppercase;
}



.cb_calendar_control{
   padding-top:  20px;
}

.cb_calendar_contain{
    padding: 0 70px;
    background-image: url("../img/fondocalendario2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    width: 338px;
    height: 308px;
}

.cb_calendar{
    position: relative;
    bottom: 8px;
}

.cb_calendar tbody td.cb_nday {
    visibility: hidden;
}

.cb_calendar thead{
    border: none;
}

.cb_calendar tbody td,
.cb_calendar thead td{
    text-align: center;
    color: white;
}

.cb_calendar tbody td {
    padding: 2px;
    border-radius: 50px;
    text-align: center;
}

.cb_month {
    color: white;
    font-size: 20px;
    text-align: center;
}

.cb_calendar tbody td.cb_now{
    background: #ffa202;
}

.cb_calendar tbody td.cb_now .cb_day_num{
    color: black;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  width: 100%;
  height: 100%;

}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}


a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}


.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.titulo-p {
    margin-left: -10px;
    font-size: 46px;
    font-family: MyriadPro-Regular;
    margin-top: -7px;
    text-transform: uppercase;
}

.cont-flecha.r{
  padding-left: 0px !important;
}

.cont-flecha.l{
  padding-right: 0px !important;
}

.cont-flecha a svg{
  width: 30px;
  height: 30px;
}


.td-pelicula{
  text-decoration: underline;
}

.info-festival{
  margin-left: -10px;
  color: #606060;
}
@media (max-width: 1336px) {
    .peliculas  .caja-peli a img{
        width: 120px;
        height: 170px;
    }
}

@media (max-width: 1024px) {
  .btn-full{
    width: 100%;
  }

  .cb_calendar_contain {
    padding: 0 30px;
    padding-top: 50px;
    width: 100%;
  }

  .peliculas  .caja-peli a img{
      width: 96px;
      height: 150px;
  }
  .peliculas  .caja-peli a img:hover{
    width: 100px;
    height: 154px;
  }

  #slider{
    width: 440px;
  }
}

@media (max-width: 768px) {

  .peliculas  .caja-peli a img{
      width: 81px;
      height: 135px;
  }
  .peliculas  .caja-peli a img:hover{
      width: 86px;
      height: 140px;
  }

  #slider{
    width: 400px;
  }
}

@media (max-width: 420px) {

    .fila1, .fila2{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .cont-flecha{
      padding: 0px !important;
    }

    .fila1 .caja-peli:first-child, .fila2 .caja-peli:first-child{
      margin-left: 0px !important;
    }

    .fila1 .caja-peli:last-child, .fila2 .caja-peli:last-child{
      margin-right: 0px;
    }

    .fila1 .caja-peli, .fila2 .caja-peli{
        margin-left: 0px !important;
        margin-right: 0px;
    }

    .fila1{
      margin-bottom: 30px !important;
    }

    .fila2{
      margin-top: 30px;
    }

    .categoria, .titulo-pelicula{
      text-align: center;
    }

    .collection{
      width: auto;
    }

    #slider{
      width: 100%;
    }
    .peliculas  .caja-peli a img{
        width: 106px;
        height: 150px;
    }
    .peliculas  .caja-peli a img:hover{
        width: 116px;
        height: 160px;
    }

    .cont-flecha a svg {
      width: 20px;
      height: 20px;
    }

    .cont-flecha.r a{
      margin-left: -10px;
    }

    .cont-flecha.l a{
      margin-right: -10px;
    }
}
