.cont-menu{
  background-color: #FFA500;
}

.cont-span{
  display: inline-block;
  height: 38px;
  line-height: 45px;
}

.margin-b20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.caja-apoyo .caja-p{
  text-align: center;
}

.fila1, .fila2{
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px;
}

.fila1 .caja-p, .fila2 .caja-p{
    padding: 0px;
    margin-left: 5px !important;
    margin-right: 5px;
}

.fila1 .caja-p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.fila2 .caja-p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.fila1 .caja-p:first-child, .fila2 .caja-p:first-child{
  margin-left: 10px !important;
}

.fila1 .caja-p:last-child, .fila2 .caja-p:last-child{
  margin-right: 0px;
}

.caja-apoyo div div{
  margin-top: 5px;
}

.caja-apoyo .caja-p a img{
    height:110px;
    width: 121px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.caja-apoyo .caja-p a img:hover{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

.padding-0{
    padding: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.opcion1 {
    background-image: url("../img/menu/menu2/eurocine_1024.png");
    height: 65px;
}

.opcion2 {
    background-image: url("../img/menu/menu2/festival_1024.png");
    height: 48px;
}

.opcion3 {
    background-image: url("../img/menu/menu2/Nuestrosamigos2_1024.png");
    height: 30px;
}

.opcion4 {
    background-image: url("../img/menu/menu2/Eurofilmpedia_1024.png");
    height: 108px;
}

.opcion1:hover {
    background-image: url("../img/menu/menu2/Eurocine2_1024.png");
}

.opcion2:hover {
    background-image: url("../img/menu/menu2/fesitval2_1024.png");
}

.opcion3:hover {
    background-image: url("../img/menu/menu2/nuestrosamigos_1024.png");
}

.opcion4:hover{
    background-image: url("../img/menu/menu2/Eurofilmpedia2_1024.png");
}

@media (max-width: 1024px) {
  .caja-apoyo .caja-p a img{
      height: 80px;
      width: 90px;
    }
}

@media (max-width: 768px) {
  .caja-apoyo .caja-p a img{
    height: 78px;
    width: 100%;
  }
}

@media (max-width: 420px) {

    .fila1, .fila2{
      display: block;
      justify-content: inherit;
    }

    .fila1 .caja-p:first-child, .fila2 .caja-p:first-child{
      margin-left: 0px !important;
    }

    .fila1 .caja-p:last-child, .fila2 .caja-p:last-child{
      margin-right: 0px;
    }

    .fila1 .caja-p, .fila2 .caja-p{
        margin-left: 0px !important;
        margin-right: 0px;
    }

    .caja-apoyo .caja-p a img{
      height:110px;
      width: 121px;
    }
}
